<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="Magewirephp_MagewireAdmin_Plugin_Magento_Framework_View_Page_Config_Renderer"
                type="Magewirephp\MagewireAdmin\Plugin\Magento\Framework\View\Page\Config\Renderer"
        />
    </type>

    <type name="Magewirephp\Magewire\MagewireServiceProvider">
        <arguments>
            <argument name="boot" xsi:type="boolean">true</argument>
        </arguments>
    </type>

    <type name="Magewirephp\Magewire\Mechanisms">
        <arguments>
            <argument name="items">
                <item name="resolve_components" xsi:type="array">
                    <!--
                        Overwrite: Resolver Mechanism View Model

                        Normally, the "magewire" block is loaded at the body of the page where Magewire already ran
                        several Magewire blocks which are then registered. But, for the backend this is a different
                        story where the "magewire" block will most likely be loaded before requirejs to avoid
                        a ton of issues and error messages in the console.

                        For now, this should just return true to make everything being loaded.
                    -->
                    <item name="view_model" xsi:type="object">
                        Magewirephp\MagewireAdmin\Magewire\Mechanisms\ResolveComponents\ResolveComponentsViewModel
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Mechanism: Component Resolving -->
    <type name="Magewirephp\Magewire\Mechanisms\ResolveComponents\Management\ComponentResolverManager">
        <arguments>
            <argument name="resolvers" xsi:type="array">

                <!-- Registering a custom admin layout resolver to run just before the core "layout" resolver. -->
                <item name="layout_admin" xsi:type="object" sortOrder="99800">
                    Magewirephp\MagewireAdmin\Magewire\Mechanisms\ResolveComponents\ComponentResolver\LayoutAdminResolver
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magewirephp\Magewire\Model\View\Utils">
        <arguments>
            <argument name="magewire" xsi:type="object">
                Magewirephp\MagewireAdmin\Model\View\Utils\Magewire
            </argument>
        </arguments>
    </type>

    <!-- Magewire Update Route: Adminhtml -->
    <type name="Magewirephp\Magewire\Controller\Router">
        <arguments>
            <argument name="routes" xsi:type="array">
                <item name="adminhtml" xsi:type="object" sortOrder="20">
                    Magewirephp\MagewireAdmin\Controller\MagewireUpdateRouteAdminhtml
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="magewire" xsi:type="array">
                    <item name="class" xsi:type="string">Magewirephp\Magewire\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">5</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Proxies -->
    <type name="Magewirephp\MagewireAdmin\Controller\MagewireUpdateRouteAdminhtml">
        <arguments>
            <argument name="sessionAuth" xsi:type="object">
                Magento\Backend\Model\Auth\Session\Proxy
            </argument>
        </arguments>
    </type>
</config>
